<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJWIyvyQldixs-jrJgG_bAWyFKrKf4z2U</string>
	<key>GCM_SENDER_ID</key>
	<string>439073443256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.demax.digital.development</string>
	<key>PROJECT_ID</key>
	<string>noname-test-2acb7</string>
	<key>STORAGE_BUCKET</key>
	<string>noname-test-2acb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439073443256:ios:adbe59d08faa0be842d34d</string>
</dict>
</plist>